{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
		<title>ttrn</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/fonts.css" />
        <script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
		<script src="js/main.js"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#100e23">
		<meta name="msapplication-TileColor" content="#100e23">
		<meta name="theme-color" content="#100e23">

		<meta property="og:title" content="Tinfoil Colloquy's ttrn" />
		<meta property="og:description" content="">
		<meta property="og:url" content="camel.tinfoil.yoga" />
		<meta property="og:image" content="/img/og.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<div class="uk-container uk-width-6-7 cs-header">
			<div class="uk-container uk-padding-small uk-hidden@s">
				<img width="80" height="80" alt="" class="uk-align-center" uk-img="data-src:/img/logo.svg" uk-svg>
			</div>
			<div class="uk-container uk-padding-small uk-visible@s">
				<img width="100" height="100" alt="" uk-img="data-src:/img/logo.svg" class="uk-align-center" uk-svg>
			</div>
			<hr>
		</div>

		<section id="content" class="uk-section uk-section-default">
			<div class="uk-container uk-width-5-6@s uk-width-5-6@m uk-width-3-4@l">
				<div class="">

{{ end }}
